/* .cont {
  width: 100%;
  font-size: 50px;
  text-align: center;
  border-radius: 100px;
  text-transform: capitalize;
}
.cont header,
nav,
aside,
section,
footer {
  border-radius: 100px;
  background-color: brown;
  margin: 50px;
}
.main {
  display: flex;
}
.main aside {
  flex-grow: 1;
}
.main section {
  flex-grow: 3;
} */

body {
  margin: 0;
  padding: 20px;
  background-color: #ff6b6b;
  text-align: center;
  justify-content: center;
}

.box {
  width: 80%;
  height: 600px;
  background-color: #ecf0f1;
  /* border: 3px solid #2980b9; */
  border-left: 10px solid #c0392b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3),
    inset 0 2px 10px rgba(255, 255, 255, 0.2);
}
.inner {
  width: 60%;
  background-color: #e74c3c;
  /* border-left: 10px solid #e74c3c;
  border-right: 10px solid #e74c3c; */
  border: 7px solid #e74c3c;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4),
    inset 0 2px 5px rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
}
header,
footer {
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: royalblue;
  border: 5px solid #e74c3c;
  flex-wrap: wrap;
  flex-basis: 10px;
  flex-shrink: 3;
}
aside {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
nav,
section,
aside {
  background-color: #3498db;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 2em;
  text-transform: capitalize;
  border: 5px solid #e74c3c;
  text-align: center;
  justify-content: center;
  padding: 10px;
  flex-shrink: 4;
  flex-basis: 20px;
}
.main {
  display: flex;
}
nav {
  flex-grow: 1;
  height: 160px;
}

aside {
  flex-grow: 1;
  height: 30px;
}
section {
  flex-grow: 1;
  /* flex-shrink: 4;
  flex-basis: 7px; */
}
