body {
  margin: 0;
  padding: 20px;
  background-color: #ff6b6b;
  text-align: center;
  justify-content: center;
}

.box {
  width: 80%;
  min-height: 600px;
  background-color: #ecf0f1;
  border-left: 10px solid #c0392b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3),
    inset 0 2px 10px rgba(255, 255, 255, 0.2);
}

.inner {
  width: 90%;
  background-color: #e74c3c;
  border: 7px solid #e74c3c;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4),
    inset 0 2px 5px rgba(255, 255, 255, 0.3);
  text-align: center;

  display: flex;
  flex-wrap: wrap;
}

header,
footer {
  width: 100%;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: royalblue;
  border: 5px solid #e74c3c;

  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 1;
}

/* main flex area */
.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.m2 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
}

nav,
section,
aside {
  background-color: #3498db;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 2em;
  text-transform: capitalize;
  border: 5px solid #e74c3c;
  text-align: center;
  justify-content: center;
  padding: 10px;

  flex-basis: 200px; /* responsive width */
  flex-grow: 1;
  flex-shrink: 1;
}

nav {
  height: 120px;
}

aside {
  height: 70px;
}

section {
  min-height: 150px;
}
